/* The color scheme as a whole is intended to be simple, sharp, and professional

   The division between the sections shows the white background and gives it a clean, divided feel

   Header/Footer Background: #4e535b
      This darker color creates a crisp transition to body content

   Body Backround: #DDD
      This lighter gray makes the content of the site simple and sophisticated

   Column Backround: #61728e
      Gray blue complements light and dark gray backgrounds

   Text Colors: Near black on light background and near white on dark Background
*/

* {
  box-sizing: border-box;
}

/* Header styling */
.header {
  background-color: #4e535b;
  color: #cdd2d8;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
  font-family: "Didot";
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4e535b !important;
  box-shadow: 1px 4px 5px #999;
  font-family: "Didot";
  text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #cdd2d8;
  padding: 0 20px 0 20px;
}

/* Fronts for headers and paragraphs */
.main h1, h2, h3 {
  font-family: "Didot";
}

.main p {
  font-family: "Optima";
}

/* Title styling */
.title {
  width: 100%;
  text-align: center;
  background-color: #4e535b;
  color: #cdd2d8;
  box-shadow: 1px 4px 5px #999;
  padding: 10px;
  margin: 0px 5px 10px 5px;
}

/* About me section styling */
.aboutMe {
  background-color: #DDD;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.aboutMe p {
  line-height: 30px;
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  flex-grow: 1;
}

.aboutMe img {
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* align-items: right; */
  max-width: 43px;
  max-height: 43px;
}

/* Additional content section styling */
.sampleCoursework {
  background-color: #DDD;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
}

.sampleCoursework #assignment1 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* width: 100%; */
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
}

.sampleCoursework #assignment2 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* width: 100%; */
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
}

.sampleCoursework #assignment3 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* width: 100%; */
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
}

.sampleCoursework #assignment4 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  /* margin: 10px 10px 10px 10px; */
  /* width: 100%; */
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
}

#fontfunlink:link, #fontfunlink:visited {
  color: #000;
  text-decoration: none;
}

#fontfunlink:hover {
  color: #FFF;
  text-decoration: none;
}

#project1alink:link, #project1alink:visited {
  color: #000;
  text-decoration: none;
}

#project1alink:hover {
  color: #FFF;
  text-decoration: none;
}

#project2link:link, #project2link:visited {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

#project2link:hover {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

#finalprojectlink:link, #finalprojectlink:visited {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

#finalprojectlink:hover {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

#bootstrap1link:link, #bootstrap1link:visited {
  color: #000;
  text-decoration: none;
}

#bootstrap1link:hover {
  color: #FFF;
  text-decoration: none;
}

#bootstrap2link:link, #bootstrap2link:visited {
  color: #000;
  text-decoration: none;
}

#bootstrap2link:hover {
  color: #FFF;
  text-decoration: none;
}

/* Portfolio content section styling */
.portfolioContent {
  background-color: #DDD;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
}

/* Project styling */
#project1 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
  /* margin: 10px 10px 10px 10px; */
}

#project2 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
  /* margin: 10px 10px 10px 10px; */
}

#project3 {
  background-color: #61728e;
  color: #FFF;
  /* box-shadow: 1px 4px 5px #999; */
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #DDD;
  /* margin: 10px 10px 10px 10px; */
}

/* Footer section styling */
.footer {
  background-color: #4e535b;
  color: #cdd2d8;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.footer a:link, a:visited {
  color: #cdd2d8;
  text-decoration: none;
  padding: 15px;
}

.footer a:hover {
  color: #fff;
}

#header1 {
  text-align: left;
}
#header2 {
  text-align: left;
}
#header3 {
  text-align: left;
}

/* Tablet media styling */
@media (min-width: 768px) and (max-width: 991px){
  #header1 {
    text-align: left;
  }
  #header2 {
    text-align: right;
  }
  #header3 {
    text-align: center;
  }
  .aboutMe img {
    min-width: 150px;
    min-height: 150px;
  }
}

/* Desktop media styling */
@media (min-width: 992px){
  #header1 {
    text-align: left;
  }
  #header2 {
    text-align: center;
  }
  #header3 {
    text-align: right;
  }
  .aboutMe img {
    min-width: 200px;
    min-height: 200px;
  }
}










/* Below exists additional stlying for features I have not included in this version of submission */



/* .header .nav {
  text-align: center;
  display: table;
  margin: 10px auto;
}

.header .nav li {
  display: inline;
  align: right;
  padding: 15px;
} */

/* Navigation syling */
/* .header #nav_item:link, #nav_item:visited {
  color: #32405b;
  background-color: #DDD;
  border-radius: 25px;
  padding: 8px;
  text-decoration: none;
}

.header #nav_item:hover {
  color: #000;
} */

/* Row styling */
/* .row {
  background-color: #DDD;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
  display: flex; */
  /* flex-wrap: wrap; */
}

/* .row .title {
  background-color: #4e535b;
  color: #cdd2d8;
  box-shadow: 1px 4px 5px #999;
  padding: 15px;
  margin-top: 20px;
} */
